<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpeKYcGfxdBDAKtvF7KQ2H69bgQXk3UlE</string>
	<key>GCM_SENDER_ID</key>
	<string>1068879912104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recetteapp</string>
	<key>PROJECT_ID</key>
	<string>recetteapp-e0557</string>
	<key>STORAGE_BUCKET</key>
	<string>recetteapp-e0557.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068879912104:ios:c4ca4c1b771ad5b94ef69d</string>
</dict>
</plist>